body {
    font-family: 'Poppins', sans-serif;
}
.basic {
    margin: 150px 0 100px 0;
}

.container {
    position: relative;
}

nav {
    background: #9ff89c;
    border-bottom: 5px solid rgb(243, 241, 241);
}

nav .collapse ul li a {
    margin-left: 50px;
    border-bottom: 3px solid transparent;
}

nav .collapse ul li a:hover {
    border-bottom: 3px solid rgb(243, 241, 241);
}

.bg .container .basic img {
    width: 80%;
}

.row .hidden {
    height: 0;
    overflow: hidden;
    transition: top 2s ease;
}

.row:hover .hidden {
    height: 100%;
    transition: top 2s ease;
}

#footer {
    background: #0f750c;
}

#footer p {
    font-size: small;
}

#footer .col-lg-3 .d-inline a {
    margin: 5px;
    padding: 8px 10px;
    background: #9ff89c;
}

@media (max-width: 991.98px) {
    .bg .container .basic img {
        margin-top: 40px;
    }
}

@media (max-width: 767.98px) {
    section .card .row .mb-5 img {
        width: 90%;
    }
}