/* -------------------------|-------------------------- */
/*                       GLOBAL                         */
/* -------------------------|-------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Otomanopee One', sans-serif;
}

.bg-ht {
    background: #4aa96c;
}

.bg-gh {
    background: #4aa96c;
    background: linear-gradient(90deg, rgba(74,169,108,1) 0%,
        rgba(111,196,126,1) 50%,
        rgba(159,230,160,1) 100%);
}

.bg-gph {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%,
        rgba(208,244,214,1) 50%,
        rgba(177,228,177,1) 100%);
}

.bg-o {
    background: #FFC074;
}

.bl {
    border-left: rgb(74,169,108) 1px solid;
}

.text-ht {
    color: rgb(74,169,108);
}

.text-hs {
    color: rgb(111,196,126);
}

.text-o {
    color: #FFC074;
}

.text-shadow {
    text-shadow: 2px 2px 4px #fff;
}

.text-shadow-hitam {
    text-shadow: 2px 2px 4px rgb(66, 65, 65);
}

.hover-h {
    border: solid 2px transparent;
    color: white;
}

.hover-h:hover {
    border: solid 2px #4aa96c;;
    background: white;
    color: #4aa96c;;
}

/* -------------------------|-------------------------- */
/*                       NAVBAR                         */
/* -------------------------|-------------------------- */
#navbar a {
    margin: 20px 0;
    padding: 0 20px;
}

#navbar .text-ht {
    color: rgb(74,169,108);
}

#navbar .navi:hover a {
    color: white;
    /* color: rgb(74,169,108); */
}
#navbar .navi:hover {
    background: #FFC074;
    box-shadow: 2px 2px 4px rgb(182, 178, 178);
}

/* -------------------------|-------------------------- */
/*                       HEADER                         */
/* -------------------------|-------------------------- */
#header h1 {
    color: rgb(1, 147, 124);
}

/* -------------------------|-------------------------- */
/*                        FITUR                         */
/* -------------------------|-------------------------- */
#fitur p {
    color: white;
}

#fitur i {
    margin-bottom: 10px;
}

/* -------------------------|-------------------------- */
/*                        PAKET                         */
/* -------------------------|-------------------------- */
#paket .card .hover-o {
    border: solid 2px transparent;
    color: white;
}

#paket .card .hover-o:hover {
    border: solid 2px #FFC074;
    background: white;
    color: #FFC074;
}

/* -------------------------|-------------------------- */
/*                       FOOTER                         */
/* -------------------------|-------------------------- */

#footer .bgf .bgft{
    color: rgb(237, 243, 239);
    font-size: 35px;
}
#footer .bgf .bgfb{
    color: rgb(237, 243, 239);
    font-size: 35px;
}

#footer .bgf:hover {
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgb(148, 144, 144);
}
#footer .bgf:hover .bgft{
    color: rgb(74,169,108);;
}
#footer .bgf:hover .bgfb{
    color: #0A7CFF;
}